div{
    font-family: "Franklin Gothic Medium";
    font-style: italic;
    line-height: 30px;
}

#DescriptionProduit{
    font-family: "Franklin Gothic Medium";
    font-style: italic;
    line-height: 20px;
}

legend,label, th{
    color:goldenrod;
    text-align: center;
}

td{
    text-align: center;
}

#SelectionItem, #AcheterSection{
    float: left;
    margin-right: 5%;
}

